/* // Custom Select
// https://github.com/filamentgroup/select-css/blob/master/src/select-css.css */
.custom-select {
  color: #222222;
  display: inline-block;
  font-size: 16px;
  line-height: 1.3;
  padding: 0.6rem 1.8rem 0.5rem 0.8rem;
  width: 100%;
  max-width: 100%;
  /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 2px solid var(--theme-500);
  /* box-shadow: inset 0 0 1px 1px var(--theme-500); */
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  transition: box-shadow 200ms ease-in;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
		for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

	*/
  background-image:
    url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%234d9b5e%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position:
    right 0.7em top 50%,
    0 0;
  /* icon size, then gradient */
  background-size:
    0.65em auto,
    100%;
}

.custom-select:hover,
.custom-select:focus {
  outline: none;
  border: none;
  border: 2px solid var(--theme-300);
  /* box-shadow: inset 0 0 1px 1px var(--theme-300); */
}

.custom-select::-ms-value {
  /* // For visual consistency with other platforms/browsers,
  // supress the default white text on blue background highlight given to
  // the selected option text when the (still closed) <select> receives focus
  // in IE and (under certain conditions) Edge.
  // See https://github.com/twbs/bootstrap/issues/19398. */
  color: #222222;
  background-color: #aaaaaa;
}

.custom-select option {
  font-weight: normal;
}

/* Disabled styles */
.custom-select:disabled,
.custom-select[aria-disabled="true"] {
  color: #cccccc;
  cursor: default;
  background-image:
    url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.custom-select:disabled:hover,
.custom-select[aria-disabled="true"] {
  border-color: #aaa;
}

/* // Hides the default caret in IE11 */
.custom-select::-ms-expand {
  opacity: 0;
  display: none;
}

@media (min-width: 576px) {
  .custom-select {
    max-width: 400px;
  }
}

@media (min-width: 960px) {
  .custom-select {
    max-width: 600px;
  }
}

@media (min-width: 1100px) {
  .custom-select {
    max-width: 600px;
  }
}
