# Copy this file to .env and change the values accordingly,
# including user and password.
# DO NOT change the name of the database used locally for
# development - byline_dev, if you would like to use our 
# db_init.sh script located in database/db_init.sh, as it 
# is used there as an 'anti-foot-canon' measure.
# Note: we set both a connection string and individual
# variables for the same reason - database/common.sh
# looks for the individual variables
DB_CONNECTION_STRING=DB://byline:byline@127.0.0.1:5432/byline_dev
DB_HOSTNAME=127.0.0.1
DB_PORT=5432
DB_DATABASE=byline_dev
DB_USER=byline
DB_PASSWORD=byline