.accent-h1 {
  border-top: 5px solid var(--theme-300);
  position: relative;
  /* padding-left: 12px; */
}

/* .accent-h1::before {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--theme-300);
  width: 3px;
  height: calc(100% - 15px);
  left: 0;
  top: 8px;

} */

.accent-h2 {
  border-top: 5px solid var(--theme-300);
  position: relative;
  /* padding-left: 12px; */
}

/* .accent-h2::before {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--theme-300);
  width: 3px;
  height: 100%;
  left: 0;
  top: 0;

} */
